@media(max-width: 600px){
	#col1{
		order: 2;
		height: 30vh;
	}
	#col2{
		order: 1;
		height: 30vh;
		padding-top: 5vh;
	}

	#colsec6-1{
		order: 2;
	}

	#colsec6-2{
		order: 1;
	}

	#whats{
		font-size: 50px;
	}

	#footerbody{
		padding-left: 50px;
	}

	#section1,#section3,#section4,#section5,#section6,#section7,#section8,#header{
		padding: 20px;
		width: 100%;

	}
	#section1{
		height:140vh;
	}
	#section2 .row{
		margin-top: 30px;
	}

	#section1 .h2{
		margin-top: 0px;
	}
	
	#header{
		height: 150vh;

	}
	#section2{
		height: 80vh;
		width: 100%;
	}
	

	#section4{
		visibility: hidden;
	}

	#section5{
		height: 150vh;
	}

	#section04{
		height: 50vh;
		position: relative;
		width: 100%;
		visibility: visible;
	}

	#section6{
		height: 170vh;
	}

	#section7{
		height: 150vh;
	}

	#section2{
		position: relative;
	}
	#footer{
		height: 75vh;
	}
	#footer-img{
		padding:5vh;

	}
	#cardtap{
		max-width: 400px;
	}
	#screens{
		max-width: 350px;
	}



}

@media(min-width: 600px){

	#section2{
		height:60vh;
	}

	#whats{
		font-size: 39px;
		margin-top: 5px;
	}

	#section04{
		visibility: hidden;
		height: 0vh;
	}
	#section4{
		height: 50vh;
		visibility: visible;
	}

	#section5{
		height: 100vh;
	}

	#section6{
		height: 90vh;
	}

	#section7{
		height: 100vh;
	}

	#footertxt{
		padding-right: 25vh;
		padding-left: 25vh;
	}
	#col2{
	 	padding-top:20vh;
	}
	#footer{
		height: 55vh;
	}
	#footer-img{
		margin-left:-80px; 
		padding-top: 5vh;
	}
	#cardtap{
		max-width:600px;
	}
	#section1{
		height:100vh;
	}
	#screens{
		max-width: 500px;
	}
}

.card {
	margin-bottom:20px;
	border-radius: 15px;
	background-color: #ffffff;
	overflow:hidden;
}

a[aria-expanded=true] .fas.fa-arrow-circle-down {
	display: none;
 }
 a[aria-expanded=false] .fas.fa-times-circle {
	display: none;
 }

 
@font-face {
	 font-family: 'Slenco';
	 src: url("../fonts/SlencoBlack-d9lyR.otf");
	}
 
@font-face {
	font-family: 'Avenir Book';
	src: url("../fonts/AvenirLTStd-Book.otf");
   }
@font-face {
	font-family: 'Avenir Black';
	src: url("../fonts/AvenirLTStd-Black.otf");
}

body {
	font-family: 'Slenco';
}
.card-text {
	font-family: 'Avenir Book';
}
.mb-0 {
	font-family: 'Avenir Black';
}
.fas.fa-times-circle{
	color: #7DBBE9;
}
.fas.fa-arrow-circle-down{
	color: #7DBBE9;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  display: hidden;
  
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: black;
}

html, body {
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	height:100%;
	width:100%;
}
h2 {
	font-size:5rem;

}
p {
	font-size:74;
}
li {
	font-size:45px;
}

@supports(-webkit-touch-callout: none){
	h2 {
		font-size:4rem;
	}
	p {
		font-size:36;
	}
	#cardtap{
		max-width:400px;
	}
	#header {
		height: 180vh;
	}
	#screens{
		max-width: 350px;
	}
}
