@media(max-width: 600px){
	#col1{
		order: 2;
		height: 40vh;
	}
	#col2{
		order: 1;
		height: 30vh;
		padding-top: 5vh;
		padding-left:5vh;
	}

	#colsec6-1{
		order: 2;
	}

	#colsec6-2{
		order: 1;
	}

	#whats-col-1{
		order:2;
		height:0vh;
	}
	#whats-col-2{
		order:1;
		height:30vh;
	}
	#whats{
		font-size: 50px;
	}

	#section1,#section3,#section4,#section5,#section6,#section7,#section8,#header{
		padding: 20px;
		width: 100%;

	}
	#section2 .row{
		margin-top: 30px;
	}

	#section1 .h2{
		margin-top: 0px;
	}
	
	#section2{
		width: 100%;
	}
	#section3{
		height:0vh;
	}

	#section4, #section3{
		visibility: hidden;
	}

	#section04{
		position: relative;
		width: 100%;
		visibility: visible;
	}
	#section03{
		visibility: visible;
		background-color: #000;
	}
	#section2{
		position: relative;
	}
	#footer-img{
		padding:5vh;
	}
	#blacklogo{
		width:40vw;
	}
	#cardtap{
		max-width: 400px;
	}
	#screens{
		max-width: 350px;
	}
	#black{
		width:80%;
	}
	#phone4{
		width:400px;
	}
	#section1{
		padding-top:10vh;
	}
	#sec1-p{
		font-size:40px;
	}
	#sec2-p{
		font-size:20px;
	}
	
	#footertxt{
		font-size:1.75rem;
	}
	#sec5-row{
		padding-top:5vh;
	}

}

@media(min-width: 600px){

	#section04, #section03{
		visibility: hidden;
		height: 0vh;
	}
	#section4{
		visibility: visible;
	}
	#section3{
		visibility: visible;
	}
	#footertxt{
		padding-right: 25vh;
		padding-left: 25vh;
		font-size:2.6rem;
	}
	#col2{
	 	padding-top:20vh;
	}
	#footer-img{
		margin-left:-80px; 
		padding-top: 5vh;
	}
	#blacklogo{
		width:25vw;
	}
	#cardtap{
		max-width:600px;
	}
	#screens{
		max-width: 600px;
		width:600px;
	}
	#black{
		width:80%;	
	}
	#phone4{
		width:550px;
	}
	#sec1-p{
		font-size:35px;
	}
	#sec2-p{
		font-size:20px;
	}
}

.card {
	margin-bottom:20px;
	border-radius: 15px;
	background-color: #ffffff;
	overflow:hidden;
}

a[aria-expanded=true] .fas.fa-arrow-circle-down {
	display: none;
 }
 a[aria-expanded=false] .fas.fa-times-circle {
	display: none;
 }

 
@font-face {
	 font-family: 'Slenco';
	 src: url("../fonts/SlencoBlack-d9lyR.otf");
	}
 
@font-face {
	font-family: 'Avenir Book';
	src: url("../fonts/AvenirLTStd-Book.otf");
   }
@font-face {
	font-family: 'Avenir Black';
	src: url("../fonts/AvenirLTStd-Black.otf");
}

body {
	font-family: 'Slenco';
}
.card-text {
	font-family: 'Avenir Book';
}
.mb-0 {
	font-family: 'Avenir Black';
}
.fas.fa-times-circle{
	color: #7DBBE9;
}
.fas.fa-arrow-circle-down{
	color: #7DBBE9;

}

html, body {
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	height:100%;
	width:100%;
}
h2 {
	font-size:5rem;

}
p {
	font-size:74;
}
li {
	font-size:45px;
}
embed{
     pointer-events: none;
}

a{
    display:inline-block;
}

@supports(-webkit-touch-callout: none){
	h2 {
		font-size:4rem;
	}
	p {
		font-size:36;
	}
	#cardtap{
		max-width:350px;
	}
	#screens{
		max-width: 350px;
	}
	#black{
		width:300px;
	}
	#phone4{
		width:350px;
	}
	#sec1-p{
		font-size:30px;
	}
	#sec2-p{
		font-size:17px;
	}
	#section4, #section3{
		visibility: hidden;
		height: 0vh;
	}
}
